<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <script src="/public/mur.js" defer></script>
</head>
<body>
  <div id="app">
    <main>
      <h1>Mur d'images</h1>
      <div class="buttons center">
        <a href="/" class="button">accueil</a>
        <a href="/image-description" class="button">Ajouter une description</a>
        <button class="button" id="layout-btn">
          <span>Layout</span>
          <span class="description">Current: grid</span>
        </button>
        <div class="button">
          <label for="sort">Trier par</label>
          <select id="sort">
            <option value="id" selected>id</option>
            <option value="date">date de création</option>
            <option value="likes">nombre de likes</option>
            <option value="photographe">photographe</option>
            <option value="orientation">orientation</option>
          </select>
        </div>
      </div>
      <div id="images-grid" class="grid">
        <%
        for (let i = 0; i < photos.rows.length; i++) {
          const img = photos.rows[i];
        %>
          <div data-value="<%= img['id'] %>" class="image hidden">
            <a href="/image/<%= img['id'] %>" class="image">
              <img
                src="/public/images/<%= img['fichier'].split('.')[0] %>_small.jpg"
                alt="<%= img['nom'] %>, from <%= img['nom_photographe'] %> <%= img['prenom_photographe'] %>"
              />
            </a>
            <p class="description"><%= img['description'] %></p>
            <div class="likes">
              <p><%= img['likes'] %> likes</p>
              <button>👍</button>
            </div>
          </div>
        <% } %>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </div>
</body>
</html>
