<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <script src="/public/mur.js" defer></script>
</head>
<body>
  <div id="app">
    <main>
      <h1>Mur d'images</h1>
      <div class="buttons center">
        <a href="/" class="button">accueil</a>
        <a href="/image-description" class="button">Ajouter une description</a>
        <button class="button" id="layout-btn">
          <span>Layout</span>
          <span class="description">Current: grid</span>
        </button>
      </div>
      <div id="images-grid" class="grid">
        <%
        for (let i = 0; i < 3 && photos.rows.length !== i; i++) {
          const img = photos.rows[i];
          const description = descriptions[img['id']];
        %>
          <a href="/image/<%= img['id'] %>" class="image">
            <img
              src="/public/images/<%= img['fichier'].split('.')[0] %>_small.jpg"
              alt=""
            />
            <% if (description) { %>
              <p class="description"><%= description %></p>`
            <% } %>
          </a>
        <% } %>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </div>
</body>
</html>
